DATABASE_URL="postgresql://USER:PASSWORD@HOST-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require"
INTEGRATION_ENCRYPTION_KEY=""
SESSION_SECRET=""
NEXT_PUBLIC_APP_URL="https://career-compass-lms.vercel.app"
